  <% if user_signed_in? %>
  <table class="table">
   <thead class="thead-dark">
     <tr>
       <th scope="col">#</th>
       <th scope="col">Prénom</th>
       <th scope="col">Nom</th>
       <th scope="col">Adresse mail</th>
     </tr>
   </thead>
   <tbody>
    <% @users.each do |u| %>
    <tr>
     <th scope="row"><%= u.id %></th>
     <td><%= u.first_name %></td>
     <td><%= u.last_name %></td>
     <td><%= u.email %></td>
   </tr>
   <% end %>
 </tbody>
</table>
<% else %>

<% end %>



</div>


